<div class="h-full bg-black text-gray-50 flex flex-col items-start pl-6">
    <a href="#" class="flex items-center space-x-3 w-fit rounded-full px-2 py-4 hover:bg-gray-600 ">
        <h1 class="text-5xl mx-4">X</h1>
    </a>
    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-symbols-outlined text-4xl">home</span>
        <span class="text-2xl font-bold">Home</span>
    </a>

    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-icons text-4xl">search</span>
        <span class="text-2xl font-bold">Explore</span>
    </a>

    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-symbols-outlined text-4xl">notifications</span>
        <span class="text-2xl font-bold">Notifications</span>
    </a>

    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-symbols-outlined text-4xl">mail</span>
        <span class="text-2xl font-bold">Messages</span>
    </a>

    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-symbols-outlined text-4xl">crop_square</span>
        <span class="text-2xl font-bold">Grok</span>
    </a>

    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-symbols-outlined text-4xl">group</span>
        <span class="text-2xl font-bold">Communities</span>
    </a>

    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-symbols-outlined text-4xl">person</span>
        <span class="text-2xl font-bold">Profile</span>
    </a>

    <a href="#" class="flex items-center space-x-4 w-fit rounded-full px-4 py-2 hover:bg-gray-600 ">
        <span class="material-symbols-outlined text-4xl">more_horiz</span>
        <span class="text-2xl font-bold">More</span>
    </a>

    <button class="bg-[#EFF3F4] text-[#0A0E11] rounded-full font-bold text-2xl px-20 py-2 mt-3">Post</button>

    <div class="text-[15px] flex justify-between w-full pr-8 mt-32">
        <img src="/img/kacey.jpg" alt="profile-picture" class="h-10 w-10 rounded-full">
        <div class="">
            <p class="font-bold">kelechi Denise</p>
            <p>&#64;DeniseKelechi</p>
        </div>
        <div>
            <p class="material-icons">more_horiz</p>
        </div>
    </div>

</div>
