<div class="py-4 grid grid-cols-[10%_90%] gap-1">
    <div class="">
        <img src="/img/noavatar.png" alt="profile-picture of" class="h-7 w-7 md:h-10 md:w-10 rounded-full">
    </div>
    
    <div>
        <div class="flex justify-between items-center">
            <div class="text-xs md:text-sm md:text-base flex justify-between gap-1 items-center" *ngIf="postDetails.user as user">
                <h5 class="text-[#E5E7E6] font-bold">{{ user.name }}</h5>
                <div><span class="material-symbols-outlined text-[#1d9bf0] text-base md:text-lg" >new_releases</span></div>
                <span class="text-[#6E6F71]">&#64;{{ user.username }}</span>
                <span class="text-[#6E6F71]">.</span>
                <span class="text-[#6E6F71]">12h</span>
            </div>
            <div>
                <span class="material-symbols-outlined text-[#6E6F71] text-base md:text-lg">more_horiz</span>
            </div>
        </div>

        <div class="mt-1">
            <div>
                <p class="text-[#E5E7E6] text-xs md:text-sm md:text-base">{{ postDetails.post.body}}</p>
            </div>
    
            <!-- <div *ngFor="let url of post.mediaUrls">
                <img 
                    *ngIf="isImage(url)"
                    [src]="url" 
                    alt="Post Media"
                    class="border rounded-[8px]"
                    (error)="handleImageError($event)"
                >
                <video 
                    *ngIf="isVideo(url)"
                    [src]="url"
                    controls
                    class="border rounded-[8px]"
                ></video>
            </div> -->
        </div>

        <div class="text-[#6E6F71] flex justify-between pt-4">
            <div class="flex justify-center items-center gap-1 hover:text-blue-500">
                <fa-icon [icon]="faComment" class="text-base md:text-xl"></fa-icon>
                <span class="text-xs md:text-sm">1.2k</span>
            </div>
            <div class="flex justify-center items-center gap-1 hover:text-green-500 ">
                <fa-icon [icon]="faRetweet" class="text-base md:text-xl"></fa-icon>
                <span class="text-xs md:text-sm">456</span>
            </div>
            <div class="flex justify-center items-center gap-1 hover:text-pink-500 ">
                <span class="material-symbols-outlined text-sm md:text-xl">favorite</span>
                <span class="text-xs md:text-sm">1k</span>
            </div>
            <div class="flex justify-center items-center gap-1 hover:text-blue-500">
                <span class="material-symbols-outlined text-sm md:text-xl">bar_chart</span>
                <span class="text-xs md:text-sm">1m</span>
            </div>
            <div class="flex justify-center items-center gap-2 hover:text-blue-500">
                <div class="flex justify-center items-center gap-1 hover:text-blue-500">
                    <span class="material-symbols-outlined text-sm md:text-xl">bookmark</span>
                    <span class="text-xs md:text-sm"></span>
                </div>
                <div>
                    <span class="material-symbols-outlined text-sm md:text-xl">share</span>
                </div>
            </div>
        </div>
    </div>
</div>
